<%= form_for(@user) do |f| %>
	<%= render 'error_messages' %>
<p><%= f.text_field :name, class: "form-control", placeholder: "Name" %></p>
<p><%= f.email_field :email, class: "form-control", placeholder: "Email"%></p>
<p><%= f.password_field :password, class: "form-control", placeholder: "Password" %></p>
<p><%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %></p>
<p><%= f.submit yield(:button_text), class: "btn btn-default" %></p>
<% end %>
