<% provide(:title, "All Users") %>
<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
	<li>
		<%= gravatar_for user, size: 50 %>
		<% if user == current_user %>
			<%= link_to "#{user.name} (you)", user  %>
		<% else %>
			<%= link_to user.name, user %>
		<% end %>
		<p>
		<% if user.activated == true %>
			Activated <br>
		<% else %>
			Not Activated <br>
		<% end %>
		<%= "ADMIN USER" if user.admin == true %></p>
			<% if current_user.admin? && !current_user?(user) %>
				<p>
					<%= link_to "Delete", user, class: "btn btn-default btn-xs", method: :delete,
	                                  data: { confirm: "You sure?" } %>
	                <%= link_to "Edit", edit_user_path(user), class: "btn btn-default btn-xs"  %>
	                <% if user.activated == false %>
	                	<%= link_to "Activate", admin_activate_path(user), class: "btn btn-default btn-xs" %>
	                <% else %>
	                	<%= link_to "Deactivate", admin_deactivate_path(user), class: "btn btn-default btn-xs" %>
	                <% end %>
	                </p>
	  		<% end %>
	</li>
	<% end %>
</ul>

<%= will_paginate %>
