<% if current_user.rooms.count == 1 %>
	<% ids = current_user.rooms.first.users.map(&:id) %>
	<% room_users = User.where(id: ids).order("created_at DESC") %>
	
	<ul class="room_stats center">
	<% room_users.each do |user| %>
		<li>
			<p><span class="name"><%= user.name %> (<%= user.products.count %>)</span></p>
				<% user_products = user.products %>
			<p>Total Cost: <span class="product_price"><%= number_to_currency(user.products.sum(:price), :unit => "€") %></span></p>
		</li>
	<% end %>
	</ul>
	
<!-- 	 room_products = Product.where(user_id: ids).order("created_at DESC").paginate(page: params[:page])  %>
 --><% room_products = Product.where(user_id: ids).order("created_at DESC")  %>
 	<% room_memberships = current_user.rooms.first.memberships %>
	<% room_products_and_memberships = room_memberships + room_products %>
	<% room_products_and_memberships = room_products_and_memberships.sort_by &:created_at %>
	<% room_products_and_memberships = room_products_and_memberships.reverse.paginate(:page => params[:page], :per_page => 10)%>

	<h1>Product History</h1>
	<ul class="product_history">
		<% room_products_and_memberships.each do |product_or_membership| %>
			
			<% if product_or_membership.try(:name?) %>
				<span class="date"><%= product_or_membership.created_at.strftime('%b %d, %Y %H:%M') %></span>
				<span class="name"><%= product_or_membership.name %></span>
				<span class="price"><%= number_to_currency(product_or_membership.price, :unit => "€") %></span>
				<span class="author">by <%= User.find(product_or_membership.user_id).name %></span>
				<% unless product_or_membership.description == "" %>
					<p class="description">(<%= product_or_membership.description %>)</p>
				<% end %>
				<% unless product_or_membership.created_at == product_or_membership.updated_at %>
					<small><p>Updated at: <span class="date"><%= product_or_membership.updated_at.strftime('%b %d, %Y %H:%M') %></p></small>
				<% end %>
				<% if current_user.id == product_or_membership.user_id || current_user.try(:admin?)  %>
					<p class="buttons">
						<%= link_to "Edit", edit_product_path(product_or_membership.id), class: "btn btn-default btn-xs" %>
						<%= link_to "Delete", product_path(product_or_membership.id), class: "btn btn-default btn-xs", method: :delete, data: { confirm: "You sure?" } %>
					</p>
				<% end %>
			<% end %>
			<% if product_or_membership.try(:user_id?) && product_or_membership.try(:room_id?) %>
				<li><%= product_or_membership.created_at.strftime('%b %d, %Y %H:%M') %> <%= User.find(product_or_membership.user_id).name %> joined <%= Room.find(product_or_membership.room_id).name %></li>
			<% end %>
		<% end %>
		<%= will_paginate room_products_and_memberships, :previous_label => '&laquo;', :next_label => '&raquo;', :class => 'center' %>
	</ul>

	<h1>Product History</h1>
	<% if room_products.any? %>
		<ul class="product_history">
		<% room_products.each do |product| %>
			<li>
				<span class="date"><%= product.created_at.strftime('%b %d, %Y %H:%M') %></span>
				<span class="name"><%= product.name %></span>
				<span class="price"><%= number_to_currency(product.price, :unit => "€") %></span>
				<span class="author">by <%= User.find(product.user_id).name %></span>
				<% unless product.description == "" %>
					<p class="description">(<%= product.description %>)</p>
				<% end %>
				<% unless product.created_at == product.updated_at %>
					<small><p>Updated at: <span class="date"><%= product.updated_at.strftime('%b %d, %Y %H:%M') %></p></small>
				<% end %>
				<% if current_user.id == product.user_id || current_user.try(:admin?)  %>
					<p class="buttons">
						<%= link_to "Edit", edit_product_path(product.id), class: "btn btn-default btn-xs" %>
						<%= link_to "Delete", product_path(product.id), class: "btn btn-default btn-xs", method: :delete, data: { confirm: "You sure?" } %>
					</p>
				<% end %>
			</li>
		<% end %>
		</ul>
		 <!-- will_paginate room_products, :previous_label => '&laquo;', :next_label => '&raquo;', :class => 'center' %> -->

	<% else %>
		<p class="center">There are no products in this room yet.</p>
	<% end %>
<% else %>
	<p>You are member of more than one room at the moment. Please leave one of the rooms!</p>
<% end%>