<% current_user.rooms.each do |room| %>
	<ol class="users">
	<% room.users.each do |user| %>
	<li>
		<ul class="products">
		<% all_user_products = user.products.all %>
		<% last_user_products = user.products.last(5).reverse %>
		<% last_user_products.each do |product| %>
		<li>
			<p class="product_name"><%= product.name  %>  <span class="product_price"><%= number_to_currency(product.price, :unit => "€") %></span></p>
			<% unless product.description == "" %>
				<p class="product_description">(<%= product.description %>)</p>
			<% end %>
			<p class="product_date_author"><%= product.created_at.strftime('%b %d, %Y') %> | by <%= User.find(product.user_id).name %></p>
			<% if current_user == user || current_user.try(:admin?)  %>
				<%= link_to "Edit", edit_product_path(product.id), class: "btn btn-default btn-xs" %>
				<%= link_to "Delete", product_path(product.id), class: "btn btn-default btn-xs", method: :delete, data: { confirm: "You sure?" } %>
			<% end %>
			</p>
		</li>
	</li>
	<% end %>
	<% user_products = user.products %>
	<p>Total Sum: <%= number_to_currency(user_products.sum(:price), :unit => "€") %></p>
	</ul>
	</li>
	<% end %>
	</ol>
<% end %>


