<% if logged_in? %>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<%= gravatar_for current_user, size: 50 %>
				<h1><%= current_user.name %></h1>
				<span><%= link_to "view my profile", current_user %></span>
				<span></span>
			</section>
			<section class="room_info">
				<% if current_user.rooms.any? %>
					<%= render 'shared/room_info' %>
				<% else %>
					<p>You are not a member of any rooms at the moment. Create a new room and ask your friends to join it or join one of the exsiting rooms!</p>
				<% end %>
			</section>
			<% if current_user.rooms.any? %>
				<section class="product_form">
					<h1>Enter New Product</h1>
					<%= render 'shared/products_form' %>
				</section>
			<% end %>
		</aside>
		<div class="col-md-8">
			<section class="room_stats">
				<h1>Room Statistics</h1>
				<% if current_user.rooms.any? %>
					<%= render 'shared/room_stats' %>
				<% else %>
				<p>Nothing to show.</p>
				<% end %>
			</section>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to the Room Manager!</h1>

	  <p>
	    This simple web app will help you and your roommates track and manage your shared expenses. It is simple, free and easy to use. 
	  <p>
	  <p class="steps">
	  	(1) Sign Up & Login<br>
	  	(2) Create a New Room or Join an Exsiting One<br>
	  	(3) Invite Your Roomies to Join the Same Room<br>
	  	(4) Enter products you buy into the system
	  </p>

	 <!--  <div class="center">
	  	<ol>
		  	<li>Sign Up & Login</li>
		  	<li>Create a New Room or Join an Exsiting One</li>
		  	<li>Invite Your Roomies to Join the Same Room</li>
		  	<li>Enter purchases you made into the system</li>
	  	</ol>
	  	</div> -->
	  <!-- <p>
	  STEP 1: Sign Up & Login<br>
	  STEP 2: Create a New Room or Join an Exsiting One<br>
	  STEP 3: Invite Your Roomies to Join the Same Room<br>
	  ENJOY!
	  </p> -->
	  
	  <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-default" %>
	  <%= link_to "Login", login_path, class: "btn btn-lg btn-default" %>
	</div>
<% end %>