<%= form_for(@room) do |f| %>
	<%= render 'shared/error_messages', object: @room %>
<p><%= f.text_field :name, class: "form-control", placeholder: "Room Name" %></p>
<p><%= f.text_area :description, class: "form-control", placeholder: "Description (Optional)" %></p>
<p><%= f.submit yield(:button_text), class: "btn btn-default" %></p>
<% end %>