<%= form_for @product do |f| %>
	<p><%= f.text_field :name, class: "form-control", placeholder: "Name* " %></p>
	<p><%= f.text_area :description, class: "form-control", rows: "1", placeholder: "Descprtion (Optional)" %></p>
	<p><%= f.text_field :price, class: "form-control", placeholder: "Price* " %></p>
	<%= f.submit "Submit", class: "btn btn-default" %>
<% end %>