<% provide(:title, "All Products" %>
<h1>All Products</h1>
<ul class="product_history">
<% @products.each do |product| %>
	<li>
		<% if current_user.try(:admin?)  %>
			<%= link_to "Edit", edit_product_path(product.id), class: "btn btn-default btn-xs" %>
			<%= link_to "Delete", product_path(product.id), class: "btn btn-default btn-xs", method: :delete, data: { confirm: "You sure?" } %>
		<% end %>
		<span class="date"><%= product.created_at.strftime('%b %d, %Y %H:%M') %></span>
		<span class="name"><%= product.name %></span>
		<span class="price"><%= number_to_currency(product.price, :unit => "€") %></span>
		<span class="author">by <%= User.find(product.user_id).name %></span>
		<% unless product.description == "" %>
				<p class="description">(<%= product.description %>)</p>
		<% end %>
	</li>
<% end %>
</ul>