<!DOCTYPE html>
<html>
<head>
  <title>The Room Manager | <%= yield(:title) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
<script>
	$('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
</script>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-centered">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
        <!-- debug(params) if Rails.env.development? -->
      </div>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
